*{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url(./Media/sunset.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}

.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);

}

h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.input-box{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus ~ label,
input:valid ~ label{
top: -5px;
}

.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff
}

.input-box ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}

.remember{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: center;
}

.remember label input{
    margin-right: 3px;
}

.remember label a{
    color: #fff;
    text-decoration: none;
}

.remember label a:hover{
    text-decoration: underline;
}

button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
}

.register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.register p a:hover{
    text-decoration: underline;
}


@media screen and (max-width: 1000px){

    .form-box{
        position: absolute;
        width: 90%;
        height: 45%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        backdrop-filter: blur(15px);}

        h2{
            font-size: 7em;
            position: relative;
            bottom: 100px;
        }

        .input-box{
            position: relative;
            margin: 30px 0;
            width: 600px;
            border-bottom: 5px solid #fff;
        }

        .input-box label{
            position: absolute;
            top: 50%;
            left: 5px;
            color: #fff;
            font-size: 3em;
            pointer-events: none;
        }
        
        .input-box input{
            font-size: 2.5em;    
        }
        
        .input-box ion-icon{
            position: relative;
            font-size: 3em;
            left: 90%;
        }

        .remember{
            margin: -15px 0 15px;
            font-size: 2em;
            color: #fff;
            display: flex;
            justify-content: center;
        }
        
        button{
            width: 100%;
            height: 70px;
            border-radius: 40px;
            background-color: #fff;
            overflow: auto;
            font-size: 3em;
            font-weight: bold;
            
        }
        
        .register{
            font-size: 2em;
            color: #fff;
            text-align: center;
            margin: 25px 0 10px;
        }
        
        .register p a{
            text-decoration: none;
            color: #fff;
            font-weight: bold;
        }
}
